@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
    margin: 0%;
}

body {
   background-color: #F7F6F2;
   color: #889EAF;
   font-family: 'Dongle', sans-serif;
   font-size: 1em;
}

.contenido {
    display: flex;
    justify-content:space-around;
}

h2 {
    text-align: center;
}

h1 {
    font-size: 3em;
}

nav {
    height: 200px;
    background-color: #889EAF;
    color: #F7F6F2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.primero {
    width: 200px;
    height: 300px;
    border-width: 10px;
    border-style: solid;
    border-top-color: #506D84;
    border-left-color: #2e435f;
    border-radius: 10%;
}

.segundo {
    width: 200px;
    height: 300px;
    border-radius: 20px 5%/10px 15px;
    border: 10px solid #506D84;
}

.tercero {
    padding: 1em;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: #F3D5C0;
    border-radius: 10px 20px;
}

.cuarto, a {
    padding: 1em;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: #F3D5C0;
    border-radius: 10px 20px 50em;
}

a {
    color: #889EAF;
    text-decoration: none;
}

.quinto {
    padding: 1em;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: #F3D5C0;
    border-radius: 10px /20px;
}


.sexto {
    padding: 1em;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: #F3D5C0;
    border-radius: 10px 20px /20px 100px;
}